.logo-container {
  display: flex;
  align-items: center;
  height: 80px; 
}

.logo {
  height: 100%;
  max-height: 80px;
  width: auto;
  margin-left: 5px;
  object-fit: contain;
}

@media screen and (max-width: 768px) { 
  .logo {
  height: 100%;
  max-height: 60px;
  width: auto;
  margin-left: 5px;
  object-fit: contain;
}
.username-text {
  font-size: small;
}
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f4f4f4;
  font-family: #333;
}


.auth-content {
  text-align: center;
  padding: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  font-family: var(--font-primaria);  
}

.app-header {
  background: linear-gradient(90deg, #e9e9e9 0%, #819d6a 100%);
  color: #666;
  font-family: var(--font-primaria);
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.sidebar-menu {
  width: 8rem;
}

.menu-link {
  display: block;
  padding: 0.5rem;
  border-radius: 6px;
  color: var(--primary-color);
}

.menu-link:hover {
  background: var(--surface-100);
}