<p-toast></p-toast>
<ng-container *ngIf="!token">
  <div class="auth-container">
    <p-card header="Bem-vindo ao Vida Passageira">
      <div class="auth-content">
        <p>Escolha uma opção para continuar:</p>
        <div class="button-group">
          <button pButton type="button" label="Login" class="p-button-rounded p-button-success"
            (click)="login()"></button>
          <button pButton type="button" label="Cadastrar-se" class="p-button-rounded p-button-secondary"
            (click)="cadastrar()"></button>
        </div>
      </div>
    </p-card>
  </div>
</ng-container>

<ng-container *ngIf="token">
  <div class="layout-wrapper">
    <!-- HEADER -->
    <header class="app-header flex justify-content-between align-items-center px-4 py-3 surface-200">
      <h2 class="m-0"> <i> VidaPassageira </i></h2>
      <div class="flex align-items-center gap-2"> 
        <span *ngIf="usuario" class="user-name-span text-primary"> {{ usuario.username }} </span>
        <p-button [text]="true" icon="pi pi-sign-out" 
          (click)="logout()"> </p-button>
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <div class="grid">
      <!-- SIDEBAR MENU -->
      <div class="md:col-3 lg:col-2 p-3">
        <p-panel header="Menu">
          <ul class="list-none p-0 m-0">
            <li class="mb-2">
              <a routerLink="viagens" class="text-primary hover:underline">Viagens</a>
            </li>
            <li class="mb-2">
              <a routerLink="destinos" class="text-primary hover:underline">Destinos</a>
            </li>
          </ul>
        </p-panel>
      </div>

      <!-- ROUTED VIEW -->
      <div class="md:col-9 lg:col-10 p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>