.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f4f4f4;
  font-family: var(--font-primaria);
}


.auth-content {
  text-align: center;
  padding: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  font-family: var(--font-primaria);  
}

.app-header {
  background: linear-gradient(90deg, #e9e9e9 0%, #cccccc 100%);
  color: var(--cor-primaria);
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}
