.banner h1 {
    font-family: var(--font-primaria);
}
.menu-principal {
    background-color: var(--cor-primaria);
    height: 2rem;
    display: flex;
    align-items: center;
}

.menu-principal ul {
    display: flex;    
    list-style: none;    
    padding: 0;
    margin: 0;
}

.menu-principal ul li a {
    font-family: var(--font-primaria);
    font-weight: bold;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 3px;
    margin: 3px;
}