<p-toast></p-toast>
<ng-container *ngIf="!token">
  <div class="auth-container">
    <p-card header="Bem-vindo ao Vida Passageira">
      <div class="auth-content">
        <p>Escolha uma opção para continuar:</p>
        <div class="button-group">
          <button pButton type="button" label="Login" class="p-button-rounded p-button-success"
            (click)="login()"></button>
          <button pButton type="button" label="Cadastrar-se" class="p-button-rounded p-button-secondary"
            (click)="cadastrar()"></button>
        </div>
      </div>
    </p-card>
  </div>
</ng-container>

<ng-container *ngIf="token">
  <div>
    
    <header class="app-header flex justify-content-between align-items-center px-3 py-2">
      <div class="logo-container">
        <p-button [text]="true" icon="pi pi-bars" size="small" class="mt-5" (click)="toggleMenu()">
        </p-button>
        <img src="assets/imagens/logo.png" alt="VidaPassageira logo" class="logo">
      </div>

      <div class="flex align-items-center gap-2">
        <span *ngIf="usuario"> {{ usuario.username.split(" ")[0] }} </span> |
        <p-button [text]="true" icon="pi pi-sign-out" severity="secondary" (click)="logout()"> </p-button>
      </div>
    </header>

    <div class="grid h-full">

      <!-- SIDE MENU -->
      <p-sidebar [(visible)]="menuVisible" position="left" 
      [showCloseIcon]="false" 
        styleClass="sidebar-menu">

        <h3 class="mb-2">Menu</h3>

        <ul class="list-none p-0 m-0">
          <li class="mb-2">
            <a routerLink="viagens" class="menu-link">Viagens</a>
          </li>
          <li class="mb-2">
            <a routerLink="destinos" class="menu-link">Destinos</a>
          </li>
        </ul>
      </p-sidebar>

      <!-- MAIN CONTENT -->
      <div class="col transition-all" [ngClass]="{ 'ml-16': !menuVisible, 'ml-64': menuVisible }">

        

        <router-outlet></router-outlet>
      </div>

    </div>

  </div>





</ng-container>