version: '3.9'

services:
  mysql:
    image: mysql:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password
    container_name: mysql
    restart: always
    env_file:
      - .env.docker    
    volumes:
      - vp-db-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-P", "3306", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    image: ghcr.io/wosh1ngton/vp-backend:latest
    container_name: backend
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      keycloak:
        condition: service_started      
    env_file:
      - .env.docker
    ports:
      - "8084:8080"
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP"]
      interval: 10s
      timeout: 5s
      retries: 10

  frontend:
    image: ghcr.io/wosh1ngton/vp-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      backend:
        condition: service_healthy    

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    command: 
      - start
      - --proxy=edge
      - --import-realm
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
      - ./keycloak/realm:/opt/keycloak/data/import
    env_file:
      - .env.docker    
    depends_on:
      mysql:
        condition: service_healthy    

volumes:
  vp-db-data: