@media screen and (max-width: 768px) {
  :host ::ng-deep .customized-timeline.p-timeline-alternate {
    align-items: flex-start;
  }

  :host ::ng-deep .customized-timeline .p-timeline-event {
    flex-direction: row !important;
  }

  :host ::ng-deep .customized-timeline .p-timeline-event-content {
    width: 100%;
    text-align: left;
  }

  :host ::ng-deep .customized-timeline .p-timeline-event-opposite {
    display: none;
  }
}
