<p-dialog #modal header="Cadastrar Destino" [(visible)]="modalStatus" [modal]="true" [style]="{width: '500px'}"
    [closable]="true">
    <form #formSubmit="ngForm" (ngSubmit)="salvar()" class="p-fluid" enctype="multipart/form-data">

        <div class="field text-left">
            <label for="nome">Nome</label>
            <input class="w-full" pInputText id="nome" name="nome" [(ngModel)]="destino.nome" required />
        </div>

        <div class="field text-left">
            <label for="descricao">Descrição</label>
            <textarea class="w-full" pInputTextarea id="descricao" name="descricao" [(ngModel)]="destino.descricao"
                rows="4"></textarea>
        </div>

        <div class="field text-left">
            <label for="localizacao">Localização</label>
            <textarea class="w-full" pInputTextarea id="localizacao" name="localizacao"
                [(ngModel)]="destino.localizacao" rows="2"></textarea>
        </div>

        <div class="field text-left">
            <label for="localizacao">Imagem</label>
            <p-toast />

            <p-fileupload #fu mode="basic" class="justify-content-start" chooseLabel="Selecionar" chooseIcon="pi pi-upload" 
            name="demo[]" accept="image/*" styleClass="w-full"
                maxFileSize="1000000" (onSelect)="onSelect($event)" />


        </div>

        <div class="flex justify-content-end mt-4">
            <p-button label="Salvar" icon="pi pi-check"></p-button>
        </div>


    </form>
</p-dialog>