<p-dialog #modal class="dialog" [(visible)]="modalStatus">    
    <form #formSubmit (ngSubmit)="salvar()">
        <div class="grid">
            <div class="col-3 label-control">
                <label> Nome </label>
            </div>
            <div class="col-9">
                <input pInputText [(ngModel)]="destino.nome" class="form-control" type="text" name="nome">
            </div>
        </div>

        <br />
        <div class="grid">
            <div class="col-3 label-control">
                <label>
                    Descrição </label>
            </div>
            <div class="col-9">
                <textarea pTextarea [(ngModel)]="destino.descricao" class="form-control" name="descricao" id=""
                    rows="5"></textarea>
            </div>
        </div>
        <br />
        <div class="grid">
            <div class="col-3 label-control">
                <label>
                    Localização </label>
            </div>
            <div class="col-9">
                <textarea pTextarea [(ngModel)]="destino.localizacao" class="form-control" name="localizacao" id=""></textarea>
            </div>

        </div>
        <br />
        <div class="grid" style="justify-content: end;">
            <p-button type="submit" label="Salvar"></p-button>
        </div>
        
    </form>
</p-dialog>