.dialog {
    width: 40%;
}
.titulo {
    display: flex;

}
.titulo-modal {
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font: bold 15px var(--font-primaria);
}


.btn-fechar-modal {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: right;
    width: 10%;

}

.grid {
    display: flex;
}
.col-3 {
    width: 36%;

}

.col-9 {
    width: 64%;
}

.form-control {
    width: 98%;
}
.label-control {
    text-align: right;
    padding: 3px;
    margin: 4px;
}