<form #formViagem="ngForm">
    <div class="formgrid grid" >
        <div class="field col-12">
            <label for="destino"> Destino </label>
            {{destino.id}}
            <input type="hidden" name="idDestino" [(ngModel)]="viagem.idDestino">
            <input type="text" name="destino" class="w-full" pInputText [value]=destino.nome [disabled]="true" />
        </div>
        <div class="field col-6 ">
            <label for="dataIda">Data de Ida</label> <br />
            <p-calendar [(ngModel)]="viagem.dataIda" inputId="icondisplay" dateFormat="dd/mm/yy" [iconDisplay]="'input'"
                [showIcon]="true" appendTo="body" name="dataIda"> </p-calendar>
        </div>
        <div class="field col-6">
            <label for="dataVolta">Data de Retorno</label>
            <p-date-picker [(ngModel)]="viagem.dataVolta" class="w-full" inputId="icondisplay" dateFormat="dd/mm/yy"
                [iconDisplay]="'input'" [showIcon]="true" appendTo="body" name="dataVolta"></p-date-picker>
        </div>
        <div class="field col-6 text-left">
            <button pButton label="Cancelar" (click)="close()" severity="danger"></button>
        </div>
        <div class="field col-6 text-right">
            <button pButton label="Salvar" (click)="salvar()"></button>
        </div>
        
    </div>
</form>