<div class="grid">

    <div class="col-12">
        <p style="font-size: larger; background-color: #f3f3f3;">
            <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" (click)="voltar()" />

            <strong> {{viagem?.destino?.nome}}
            </strong> - {{viagem?.dataIda | date:'dd/MM/yyyy'}} a {{viagem?.dataVolta | date:'dd/MM/yyyy'}}
        </p>
    </div>


    <div>
        <p-button (click)="gerarOpiniao(tipoSugestaoEnum.ONDE_FICAR)" icon="pi pi-home" severity="secondary" label=" Onde Ficar?" />
        <app-sugestao-ia [tipoSugestao]="tipoSugestaoEnum.ONDE_FICAR" 
            [sugestao]="sugestoes.get(tipoSugestaoEnum.ONDE_FICAR)"> 
        </app-sugestao-ia>

        <p-button (click)="gerarOpiniao(tipoSugestaoEnum.COMO_CHEGAR)" label="Como Chegar?" icon="pi pi-map-marker"
            severity="secondary" />          
        <app-sugestao-ia [sugestao]="sugestoes.get(tipoSugestaoEnum.COMO_CHEGAR)">             
        </app-sugestao-ia>

        <p-button class="" label="Onde Ir?" (click)="gerarOpiniao(tipoSugestaoEnum.ONDE_IR)" icon="pi pi-search" severity="secondary" />
        <app-sugestao-ia [sugestao]="sugestoes.get(tipoSugestaoEnum.ONDE_IR)">             
        </app-sugestao-ia>

        <p-button class="" label="Onde Comer?" (click)="gerarOpiniao(tipoSugestaoEnum.ONDE_COMER)" icon="pi pi-search" severity="secondary" />
        <app-sugestao-ia [sugestao]="sugestoes.get(tipoSugestaoEnum.ONDE_COMER)">             
        </app-sugestao-ia>

        <div class="col-12">        

            <div *ngIf="resultado">
                <markdown [data]="resultado"></markdown>
                <p-button label="Salvar Opinião" (click)="salvarOpiniaoIA(resultado)">

                </p-button>
            </div>
        </div>
    </div>
</div>