server:
  port: ${SERVER_PORT}
spring:  
  flyway:
    enabled: true
  application:
    name: backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: false
  
logging:
  level:
    org.springframework.web.cors: DEBUG
    org.springframework.security: DEBUG
keycloak:
  server-url: http://localhost:8080
  realm: master
  client-id: ${KEYCLOAK_CLIENT_ID}
  username: ${KEYCLOAK_USERNAME}
  password: ${KEYCLOAK_PASSWORD}    
  target-realm: VP
deepseek:
  api:
    key: ${DEEPSEEK_API_KEY}
    url: https://api.deepseek.com/v1/chat/completions
app:
  version: '@project.version@'    
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never