name: Build and push Images

on:
    push:
        branches: ["main"]

permissions:
    contents: read
    packages: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            - name: Build backend
              run: |
                docker build -t ghcr.io/${{ github.repository_owner }}/vp-backend:latest \
                  -f backend/Dockerfile.prod backend
            
            - name: Push backend
              run: |
                docker push ghcr.io/${{ github.repository_owner }}/vp-backend:latest
            
            - name: Build frontend
              run: |
                docker build -t ghcr.io/${{ github.repository_owner }}/vp-frontend:latest \
                  -f frontend/Dockerfile.prod frontend
            
            - name: Push frontend
              run: |
                docker push ghcr.io/${{ github.repository_owner }}/vp-frontend:latest

              
